---
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

---

<PageLayout>
  <PageMeta title={`Projects | ${SITE_TITLE}`} slot="meta" />
  <section class="flex flex-col gap-3" slot="main">
    <div>
      <h2 class="font-bold text-lg">Job Descriptions</h2>
      <ul>
        <li>
          <div>
            
          </div>
        </li>
      </ul>
    </div>
  </section>
</PageLayout>
