---
const imgs = [
  "https://www.blm.gov/sites/default/files/styles/hero_lg_content/public/heros/Steens%20Mountain%20fall%20colors%20from%20Fish%20Creek%20Canyon.png?h=8cf2a5fe&itok=-XKptfBJ",
  "https://www.blm.gov/sites/default/files/styles/hero_lg_content/public/images/2023-09/PCT%20Oregon%20Bob%20Wick.jpg?h=a1e1a043&itok=rANygdWG",
  "https://www.blm.gov/sites/default/files/styles/bio_photo/public/images/2023-09/blm-popular-links-image.jpg?itok=Ng-v9eX-",
  "https://www.blm.gov/sites/default/files/styles/hero_lg_content/public/images/2021-05/Wildflowers-on-tundra-Utukok-River_KimMincer_BLM.jpg?h=827069f2&itok=PEvzdSPZ",
  "https://www.blm.gov/sites/default/files/styles/hero_lg_content/public/images/2023-10/Sage-Grouse%20closeup.jpg?h=1687c988&itok=m5gyaFBn"
]
---

<div class="flex flex-row justify-evenly gap-4 flex-wrap">
    {imgs.map((img:string) => (
      <div class="rounded-md w-fit h-fit">
        <img class="rounded-md" src={ img } width="300" alt="Steens Mountain fall colors from Fish Creek Canyon" />
      </div>
    ))}
</div>
